*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: auto;
    box-sizing: border-box;
    text-decoration: none;
}

.lodin
{
    height: 100vh;
    background-image: url(122.jpeg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 4567890098765434567890;
}

.lodin::before 
{
     content: "";  
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100VH;
    background-color:  rgba(0, 0, 0, 0.356) ;
}



/* -------------------------- */

.part_five
{

    width: 40%;
    margin: auto;
    float: left;

}

.part_five .Services1
{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 30px;


}
.part_five .Services1 .ahmed
{
    border-bottom: #ff305b 2px solid;
    width: 100Px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;

}
.part_five .Services1 .ahmed1
{
    border-bottom: #ff305b 2px solid;
    width: 200Px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    

}
.part_five .Services1 h2
{
    padding-top: 80px;
    margin-bottom: 20px;
    color: #e62d52;
}
/* ---------------form-------------- */
.part_five_form 
{

    width: 95%;
    margin: auto;
    

}

.part_five_form:hover
{
    border-radius: #ff305b;
}
.part_five_form .form
{
    width: 45%;
    padding: 10PX;
    border-radius:4PX ;
    margin-left: 150PX;
    margin-top: 15px ;
    color: white;
    margin-bottom: 30px;
    background-color:  rgba(0, 0, 0, 0.356) ;
    border:1px solid #ff305b;

}

.part_two .Services1
{
    margin: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.part_two .ahmed
{
    border-bottom: #ff305b 1px solid;
    width: 100Px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;

}
.part_two .ahmed1
{
    border-bottom: #ff305b 1px solid;
    width: 200Px;
    text-align: center;
    margin: auto;

    margin-bottom: 5px;

}
.part_two .Services1 h2
{
    color: black;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.part_two .part_img
{
    width: 80%;
    color: #ff305b;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.part_two .part_img img
{
    width: 32%;
    padding: 15px;
    transition: 1s ;
}
.part_two .part_img img:hover
{
    transform: scale(0.9);

}
.part_five_form .but
{
    margin: 10px;
    padding: 15px 30px;
    background-color: #ff305b;
    border:none ;
    border-radius: 5px;
    margin-left: 150PX;

} 

.part_five_form a
{
    color: white;
}